name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 20
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: Remove the label before testing
        uses: ./
        with:
          remove-labels: label-action-test

      - name: Run int128/label-action
        id: add-labels
        uses: ./
        with:
          add-labels: label-action-test
      - run: test ${{ steps.add-labels.outputs.added-count }} == 1

      - name: Run int128/label-action
        id: re-add-labels
        uses: ./
        with:
          add-labels: label-action-test
      - run: test ${{ steps.re-add-labels.outputs.added-count }} == 0

      - name: Run int128/label-action
        id: match-labels
        uses: ./
        with:
          match-labels: /-action-test$/
      - run: test ${{ steps.match-labels.outputs.matched-count }} == 1

      - name: Run int128/label-action
        id: remove-labels
        uses: ./
        with:
          remove-labels: label-action-test
      - run: test ${{ steps.remove-labels.outputs.removed-count }} == 1

      - name: Run int128/label-action
        id: re-remove-labels
        uses: ./
        with:
          remove-labels: label-action-test
      - run: test ${{ steps.re-remove-labels.outputs.removed-count }} == 0

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 20
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm lint --fix
      - run: pnpm format
      - uses: int128/update-generated-files-action@65b9a7ae3ededc5679d78343f58fbebcf1ebd785 # v2.57.0
