name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: Remove the label before testing
        uses: ./
        with:
          remove-labels: label-action-test

      - name: Run int128/label-action
        id: add-labels
        uses: ./
        with:
          add-labels: label-action-test
      - run: test ${{ steps.add-labels.outputs.added-count }} == 1
      - run: test ${{ steps.add-labels.outputs.added }} == 'true'

      - name: Run int128/label-action
        id: re-add-labels
        uses: ./
        with:
          add-labels: label-action-test
      - run: test ${{ steps.re-add-labels.outputs.added-count }} == 0
      - run: test ${{ steps.re-add-labels.outputs.added }} == 'false'

      - name: Run int128/label-action
        id: match-labels
        uses: ./
        with:
          match-labels: /-action-test$/
      - run: test ${{ steps.match-labels.outputs.matched-count }} == 1
      - run: test ${{ steps.match-labels.outputs.matched }} == 'true'

      - name: Run int128/label-action
        id: match-all-labels
        uses: ./
        with:
          match-labels: /.*/
      - run: |
          set -eux
          test -n "$LABELS"
          while read -r label; do
            echo "Label: $label"
          done <<< "$LABELS"
        env:
          LABELS: ${{ steps.match-all-labels.outputs.matched-labels }}

      - name: Run int128/label-action
        id: remove-labels
        uses: ./
        with:
          remove-labels: label-action-test
      - run: test ${{ steps.remove-labels.outputs.removed-count }} == 1
      - run: test ${{ steps.remove-labels.outputs.removed }} == 'true'

      - name: Run int128/label-action
        id: re-remove-labels
        uses: ./
        with:
          remove-labels: label-action-test
      - run: test ${{ steps.re-remove-labels.outputs.removed-count }} == 0
      - run: test ${{ steps.re-remove-labels.outputs.removed }} == 'false'

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run check
      - uses: int128/update-generated-files-action@2dfdf7949b8e414b6b014b636a2ebaa2f3c04fe9 # v2.77.0
